<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="row">
        <div class="col-md-10 mx-auto">
            <a href="/">Log Out</a>
            <h2>User list</h2>
            <form method="get" th:action="@{/user/list}" th:object="${user}" class="input-group">
                <input type="search" class="form-control"  placeholder="Search" th:field="*{name}" aria-label="Search"
                       aria-describedby="search-addon">
                <button  type="submit" class="btn btn-outline-primary"> Search </button>
            </form>
            <table>
                <thead>
                <tr>
                    <th> Name </th>
                    <th> Birth Year </th>
                    <th> </th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${users.empty}">
                    <td colspan="2"> Empty result </td>
                </tr>
                <tr th:each="user : ${users}">
                    <td><span th:text="${user.name}"> Name </span></td>
                    <td><span th:text="${user.birthYear}"> Birth Year </span></td>
                    <td>
                        <form method="post" th:action="@{/user/delete/{id}(id=${user.id})}" >
                            <button  type="submit" class="btn btn-primary btn-block mt-3"> delete </button>
                        </form>
                    </td>
                    <td>
                        <form method="get" th:action="@{/user/edit/{id}(id=${user.id})}">
                            <button  type="submit" class="btn btn-primary btn-block mt-3"> edit </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>